<app-side-menu></app-side-menu>
<div class="app-body" [ngClass]="{'open': menuController.menuIsOpen}" (click)="onCloseMenu()">
    <app-header></app-header>
    <router-outlet></router-outlet>

    
</div>

<div class="toast-container">
    <ngb-toast
    *ngFor="let toast of toastService.toasts" class="mb-2"
    [header]="toast.header" [autohide]="true" [delay]="toast.delay || 5000"
    (hidden)="toastService.remove(toast)" 
    >
    <div ngbToastBody>
        {{toast.body}}

        <a *ngIf="toast.link" [href]="toast.link.url" target="_blank">{{toast.link.label}}</a>
    </div>
    </ngb-toast>
</div>